$fontFamilly: 'Lato', sans-serif;
$primaryColor: #00ADEE;

$headingsFontWeight: bold;
$headingsFontSize: 28px;
$headingsLineHeight: 37px;
$headingsColor: #333;

$paragraphFontSize: 16px;
$paragraphLineHeight: 23px;
$paragraphColor: #4f4f4f;

@mixin paragraphSize($fontSize, $lineHeight) {
    font-size: $fontSize;
    line-height: $lineHeight;
}

@mixin headings($fontWeight, $fontSize, $lineHeight, $color) {
  font-weight: $fontWeight;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin textParagraphs($fontSize, $lineHeight, $color) {
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $color;
}

@mixin  ellipses($left, $top, $transform, $pos, $width, $height, $opacity) {
  left: $left;
  transform: $transform;
  top: $top;
  position: $pos;
  width: $width;
  height: $height;
  opacity: $opacity;
}

// @mixin feedback($fontSize, $lineHeight, $Color) {
//   font-size: $fontSize;
//   line-height: $lineHeight;
//   color: $Color;
// } 

body {
    margin: 0;
    font-family: $fontFamilly;
}

* {
    box-sizing: border-box;
}

.header {
  background-color: #F4F6F9;
}

.header_inner {
  padding: 0 20px;
  padding-top: 32px;
  padding-bottom: 60px;
}

.header_inner p {
  text-align: center;
}

.logo img {
  display: block;
  margin: 0 auto;
  margin-bottom: 86px;
}

.store_links {
  text-align: center;
  // display: flex;
  // justify-content: space-between;
}

.store_links a:first-child {
  margin-right: 30px;
}

.heading {
  font-weight: bold;
  @include paragraphSize(30px, 40px);
}

.achieve_status {
  margin-bottom: 50px;
  margin-top: 33px;
  @include textParagraphs($paragraphFontSize, $paragraphLineHeight, $paragraphColor);
}

.information {
  display: flex;
  flex-direction: column;
}

.about {
  padding: 54px 20px 22px 20px;
  text-align: center;
}

.what_it_does,
.get_started {
  font-weight: bold;
  @include paragraphSize(16px, 21px);
  color: $primaryColor;
}

.football_exp {
  @include headings($headingsFontWeight, $headingsFontSize, $headingsLineHeight, $headingsColor);
}

.app_purpose,
.subscribe {
  @include textParagraphs($paragraphFontSize, $paragraphLineHeight, $paragraphColor);
}

.learn_more {
  text-decoration: none;
  font-weight: bold;
  @include paragraphSize(16px, 21px);
  color: $primaryColor;
  transition: 2s;
}

.learn_more:hover {
  text-transform: uppercase;
  text-shadow: 1px 2px 10px #7e7d7d; 
}

.frames {
    background: url(images/Ronaldo_mobile.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 70px 20px 40px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.information_card {
    width: 70%;
    max-width: 360px;
    box-shadow: -15.1278px 16.3884px 33.6173px rgba(0, 0, 0, 0.5);
    border-radius: 2.74531px;
    z-index: 2;
    background-color: #fff;
    position: relative;
    right: 50px;
    margin: auto;
}

.info {    
    display: flex;
    justify-content: space-between;
    padding: 19px 10px 12px 11px;
}

.time {
    font-weight: bold;
    color: #4F4F4F;
    @include paragraphSize(11.5px, 15px);
    margin: 0;
}

.vs {
    font-weight: 500;
    @include paragraphSize(12.35px, 16px);
    margin-top: 9px;
    margin-bottom: 9px;
}

.type {
    margin: 0;
    font-weight: normal;
    @include paragraphSize(11px, 14px);
}

.fc {
    margin: auto 0;
}

.fc img:first-child {
    position: relative;
    left: 15px;
    z-index: 0;
}

.fc img:last-child {
    position: relative;
    z-index: 5;
}

.notifications {
    background-color: #EEEEEE;
    @include paragraphSize(13px, 17px);
    padding: 9px 0 7px 11px;
    display: flex;
    justify-content: space-between;
}

.notifications p {
    margin: 0;
    color: #4F4F4F;
}

.notifications form {
  position: absolute;
  right: 18px;
}

#turn_notifications {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 14px;
  width: 14px;
  right: 8px;
  top: 0px;
  z-index: 2;
  margin: 0;
}

.checkmark {
  position: absolute;
  top: 3px;
  right: 5px;
  height: 8px;
  width: 18px;
  background-color: #979797;
  border-radius: 71.9927px;
  z-index: 1;
}

.checkmark::before {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  background-color: #fff;
  box-shadow: 0px 2.09791px 2.09791px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  top: -3px;
  right: 5px;
}

#turn_notifications:checked ~ .checkmark::before {
  animation-name: turnOn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes turnOn {
  from {
    top: -3px;
    right: 5px;
  }
  to {
    right: 0px;
  }
}

.video {
    display: block; 
    margin: 0 auto;
    margin-top: -20px;
    z-index: 1;
    width: 70%;
    max-width: 360px;
    position: relative;
    right: -50px;
}

.get_started_container {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  align-content: space-between;
  overflow: hidden;
}

.get_started {
  margin: 0;
}

.subscribe_info {
  text-align: center;
  padding: 62px 20px 22px 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;
}

.subscribe {
  margin-bottom: 25px;
}

.get_started_heading {
  @include headings($headingsFontWeight, $headingsFontSize, $headingsLineHeight, $headingsColor);
}

.app_image {
  position: relative;
  margin-top: 100px;
}

.mobile_img {
  display: block;
  margin: 0 auto;
  position: relative;
  right: 15px;
  z-index: 2;
  width: 287px;
  height: 496px;
}

.bell_icon {
  position: absolute;
  left: 50%;
  top: 10px;
  transform: translateX(-150%);
  z-index: 4;
  width: 101px;
  height: 101px;
}

.basket_icon {
  position: absolute;
  left: 50%;
  top: 260px;
  transform: translateX(55%);
  z-index: 4;
  width: 101px;
  height: 101px;
}

.circle_icon {
  position: absolute;
  left: 50%;
  top: 330px;
  transform: translateX(-350%);
  z-index: 4;
}

.ellipse {
  z-index: 1;
}

.ellipse1 {
  @include ellipses(50%, 60px, translateX(-50%), absolute, 318px, 318px, 1);
  z-index: 1;
}

.ellipse2 {
  @include ellipses(50%, -20px, translateX(-50%), absolute, 473px, 473px, 1);
  width: auto;
  z-index: 1;
}

.ellipse3 {
  @include ellipses(50%, -130px, translateX(-50%), absolute, 700px, 700px, 0.1);
  z-index: 1;
}

.ellipse4 {
  @include ellipses(43%, -190px, translateX(-50%), absolute, 800px, 800px, 0.1);
}

.ellipse5 {
  @include ellipses(43%, -290px, translateX(-50%), absolute, 1000px, 1000px, 0.1);
}

.ellipse6 {
  @include ellipses(43%, -390px, translateX(-50%), absolute, 1200px, 1200px, 0.1);
}

.ellipse7 {
  @include ellipses(43%, -490px, translateX(-50%), absolute, 1400px, 1400px, 0.1);
}

.ellipse8 {
  @include ellipses(43%, -590px, translateX(-50%), absolute, 1600px, 1600px, 0.1);
}

.ellipse9 {
  @include ellipses(43%, -690px, translateX(-50%), absolute, 1800px, 1800px, 0.1);
}

.ellipse10 {
  @include ellipses(43%, -790px, translateX(-50%), absolute, 2000px, 2000px, 0.1);
}

.features {
  padding: 42px 25px 69px 25px;
  background-color: #fafafa;
}

.features_heading {
  @include headings($headingsFontWeight, $headingsFontSize, $headingsLineHeight, $headingsColor);
  text-align: center;
  margin: 0;
}

.features_container {
  display: grid;
  grid-template-columns: auto;
}

.features_blocks {
  padding-top: 55px;
}

.feature_explanation {
  @include textParagraphs($paragraphFontSize, $paragraphLineHeight, $paragraphColor);
  text-align: center;
  margin-bottom: 0;
}

.features_image {
  display: block;
  margin: 0 auto;
}

.feedbacks {
  padding: 50px 25px 70px 25px;
}

.feedbacks_heading {
  @include headings($headingsFontWeight, $headingsFontSize, $headingsLineHeight, $headingsColor);
  text-align: center;
}

.carousel {
  width: 95%;
  margin: 0 auto;
}

.carousel_blocks {
  // max-width: 309px !important;
  height: 161px;
  border: 1px solid #828282;
  border-radius: 4px;
  padding: 15px; //check
  
}

.carousel_blocks_inner {
  display: flex;
}

.slick-slide {
  margin: 20px; //check
}

.slick-next,
.slick-prev {
  width: 47px !important;
  height: 47px !important;
}

.slick-prev:before, .slick-next:before {
  color: $primaryColor !important;
  font-size: 47px !important;
}

.name {
  @include paragraphSize(16px, 19px);
  font-weight: bold;
  color: #333;
  flex: 70%;
  margin-left: 11px;
}

.feedback_content {
  @include paragraphSize(14px, 18px);
  color: #4F4F4F;
  margin: 0;
}

.featured_in {
  padding: 57px 0 71px 0;
  background-color: #fafafa;
}

.featured_in_heading {
  @include headings($headingsFontWeight, $headingsFontSize, $headingsLineHeight, $headingsColor);
  text-align: center;
}

.featured_in_companies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.featured_in_companies img {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 40px;
}

.download_app {
  display: flex;
  flex-direction: column;
}

.download_app_info {
  padding: 20px 20px 0 20px;
}

.download_app_info_heading {
  @include headings($headingsFontWeight, $headingsFontSize, $headingsLineHeight, $headingsColor);
  text-align: center;
}

.download_app_info_content {
  @include paragraphSize(16px, 25px);
  color: #4f4f4f;
  text-align: center;
}

.download_app_image {
  width: 100%;
  margin-top: 46px;
}

.store_links_2 {
  text-align: center;
}

.store_links_2 a:first-child {
  margin-right: 30px;
}

.footer {
  background-color: $primaryColor;
  display: flex;
  flex-direction: column;
  padding: 40px 20px 45px 20px;
}

.socials {
  margin-top: 11px;
  margin-bottom: 32px;
}

.socials a {
  margin-right: 17px;
  position: relative;
}

.socials a img {
  transition: 1s;
}

.socials a:hover img {
  transform: translateY(-0.3em);
}

.socials a::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 30%;
  width: 10px;
  height: 1px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 0.5;
  display: none;
}

.socials a:hover::after {
  display: block;
}

.links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  @include paragraphSize(16px, 21px);
  margin-right: 20px;
  transition: 1s;
}

.links a:last-child {
  margin-right: 0;
}

.links a:hover {
  text-shadow: 1px 2px 10px #333; 
}


@media (min-width: 640px) and (max-width: 1023px) {
   .header_inner p,
   .store_links {
     text-align: left;
   }

   .achieve_status {
     font-size: 18px;
   }

   .header {
    background-image: url(images/header_background.png);
    background-repeat: no-repeat;
    background-size: 90%;
    background-position: top right;
     padding: 20px 0 10px 40px;
     height: 50%;
   }

   .header_inner {
     max-width: 70%;
     transform: scale(0.7);
     position: relative;
     bottom: 80px;
     right: 100px;
   }

   .logo img {
     margin: 0;
     margin-bottom: 60px;
   }

  .information {
    flex-direction: row;
    background-image: url(images/ronaldo_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

   .about {
     flex: 45%;
     order: 2;
     padding: 80px 20px 60px 0;
     text-align: left;
   }

   .frames {
     flex: 55%;
     order: 1;
     background-image: none;
   }
   
   .features {
     background-color: $primaryColor;
   }

   .features_heading {
     color: #fff;
   }

   .features_container {
     grid-template-columns: 1fr 1fr;
     grid-gap: 10px;
   }

   .features_image {
     width: 38px;
     height: 38px;
   }

   .feature_explanation {
     text-align: left;
     color: #fff;
   }

   .video_icon {
    content:url(images/video_desktop.svg);
   }

   .notification_icon {
    content:url(images/notification_desktop.svg);
   }

   .hd_icon {
     content: url(images/hd_desktop.svg);
   }

   .flag_icon {
     content: url(images/flag_desktop.svg);
   }

   .multitasking {
     content: url(images/multitasking_desktop.svg);
   }

   .rating_icon {
     content: url(images/rating_desktop.svg);
   }

   .vildprinter_icon {
     content: url(images/vildprinter_desktop.svg);
   }

   .match_info_icon {
     content: url(images/match_info_desktop.svg);
   }

   .status_icon {
     content: url(images/status_desktop.svg);
   }
}

@media (min-width: 940px) and (max-width: 1023px) {
  .get_started_container {
    flex-direction: row;
    justify-content: space-evenly;
    padding-left: 40px;
  }

  .mobile_img {
    content: url(images/app_image.svg);
  }

  .bell_icon {
    width: 121px;
    height: 121px;
    transform: translateX(-130%);
  }

  .basket_icon {
    content: url(images/enter_icon.svg);
    width: 121px;
    height: 121px;
    transform: translateX(45%);
    top: 280px;
  }

  .subscribe_info,
  .app_image {
    flex: 30%;
  }

  .download_app {
    flex-direction: row;
  }

  .download_app_image {
    display: none;
  }

  .download_app {
    background-image: url(images/footer_background.svg);
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: 57%;
  }

  .download_app_info {
    max-width: 50%;
    transform: translateX(100%);
    padding: 40px;
  }

  .download_app_info_heading,
  .download_app_info_content {
    text-align: left;
  }

  .store_links_2 {
    text-align: left;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer_logo {
    order: 1;
  }

  .socials {
    margin: 0;
    order: 3;
  }

  .links {
    order: 2;
  }

  .subscribe_info {
    text-align: left;
  }

  .carousel_blocks {
    max-width: 309px;
  }

  .slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center;
  }
}

@media (min-width: 1024px)  {
  .header {
    background-image: url(images/header_background.png);
    background-repeat: no-repeat;
    background-position: top right;
    padding-bottom: 164px;
  }

  .header_inner p,
  .store_links {
    text-align: left;
  }

  .logo img {
    margin: 0;
    margin-bottom: 133px;
  }

  .header_inner {
    max-width: 40%;
  }

  .information {
    flex-direction: row;
    background-image: url(images/ronaldo_desktop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  .about {
    order: 2;
    flex: 40%;
    padding: 80px 80px 60px 0px;
    text-align: left;
  }

  .frames {
    order: 1;
    flex: 60%;
    background-image: none;
  }

  .get_started_container {
    flex-direction: row;
  }

  .mobile_img {
    content: url(images/app_image.svg);
  }

  .bell_icon {
    width: 121px;
    height: 121px;
    transform: translateX(-130%);
  }

  .basket_icon {
    content: url(images/enter_icon.svg);
    width: 121px;
    height: 121px;
    transform: translateX(45%);
    top: 280px;
  }

  .subscribe_info,
  .app_image {
    flex: 50%;
  }

  .features {
    background-color: $primaryColor;
  }

  .features_container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    justify-content: space-evenly;
    max-width: 1110px;
    margin: 0 auto;
  }

  .features_heading {
    color: #fff;
    margin-top: 34px;
    margin-bottom: 38px;
  }

  .features_blocks {
    padding-top: 20px;
  }

  .features_image {
    width: 38px;
    height: 38px;
    margin: 0;
  }

  .feature_explanation {
    text-align: left;
    color: #fff;
  }

  .video_icon {
    content:url(images/video_desktop.svg);
   }

   .notification_icon {
    content:url(images/notification_desktop.svg);
   }

   .hd_icon {
     content: url(images/hd_desktop.svg);
   }

   .flag_icon {
     content: url(images/flag_desktop.svg);
   }

   .multitasking {
     content: url(images/multitasking_desktop.svg);
   }

   .rating_icon {
     content: url(images/rating_desktop.svg);
   }

   .vildprinter_icon {
     content: url(images/vildprinter_desktop.svg);
   }

   .match_info_icon {
     content: url(images/match_info_desktop.svg);
   }

   .status_icon {
     content: url(images/status_desktop.svg);
   }

   .download_app {
    flex-direction: row;
  }

  .download_app {
    flex-direction: row;
  }

  .download_app_image {
    display: none;
  }

  .download_app {
    background-image: url(images/footer_background.svg);
    background-position: bottom left;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .download_app_info {
    max-width: 50%;
    transform: translateX(100%);
    padding: 60px;
  }

  .download_app_info_heading,
  .download_app_info_content {
    text-align: left;
  }

  .store_links_2 {
    text-align: left;
  }

  .footer {
    flex-direction: row;
    justify-content: space-evenly;
  }

  .footer_logo {
    order: 1;
  }

  .socials {
    margin: 0;
    order: 3;
  }

  .links {
    order: 2;
  }

  .subscribe_info {
    text-align: left;
    padding-left: 60px;
  }
}

@media (min-width: 1224px) {
  .header_inner {
    max-width: 1224px;
    margin: 0 auto;
  }

  .header_desktop {
    max-width: 50%;
  }

  .features_container {
    grid-row-gap: 30px;
    grid-column-gap: 90px;
  }

  .about {
    padding: 80px 160px 60px 0px;
  }

  .get_started_container {
    padding-bottom: 50px;
    padding-left: 120px;
  }
}

@media (max-width: 640px) {
  .carousel_blocks {
    max-width: 309px;
    margin: 0 auto;
  }

  .slick-initialized .slick-slide {
    display: flex !important;
    justify-content: center;
  }

.slick-next {
  position: relative;
  left: 85%;
}

.slick-prev {
  display: none !important;
}

.mobile_img {
  height: 470px;
}
}